= nested_form_for(@movie) do |f|
  - if @movie.errors.any?
    #error_explanation
      %h2
        = pluralize(@movie.errors.count, "error")
        prohibited this evento from being saved:
      %ul
        - @movie.errors.full_messages.each do |message|
          %li
            = message
  %p
  .field
    = f.label :TITLE
    %br/
    = f.text_field :title
  %p
  .field
    =f.label :GENRE
    %br/ 
    = f.text_field :genre
  %p
  .field
    =f.label :ACTORS
    %br/
    = f.collection_check_boxes :actor_ids , Actor.all, :id, :artistic_name
  %p
    = link_to 'BACK', movies_path
  %p 
  .actions
    = f.submit "CONFIRM"