= simple_form_for(@movie) do |f|
  - if @movie.errors.any?
    #error_explanation
      %h2
        = pluralize(@movie.errors.count, "error")
        prohibited this movie from being saved:
      %ul
        - @movie.errors.full_messages.each do |msg|
          %li= msg
  %p
  .field
    = f.label :TITLE
    %br/
    = f.text_field :title
  %p
  .field
    =f.label :GENRE
    %br/ 
    = f.text_field :genre
  %p
  .field
    %br/
    = f.association :actors, :as => :select
  %p
    = link_to 'ADD ACTOR', new_actor_path
  %p
    = link_to 'UPDATE ACTOR', actors_path
  %p
    = link_to 'BACK', movies_path
  %p 
  .actions
    = f.submit "CONFIRM"