<!-- INICIA O CONTEUDO. -->
<%= form_for(@movie) do |f| %>
  <!-- SE HOUVER ALGUM ERRO. -->
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@movie.errors.count, "error") %> prohibited this evento from being saved:
      </h2>
      <ul>
        <!-- UMA MENSAGEM DE AVISO SER´A EMPRESSA. -->
        <% @movie.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- SE NAO HOUVER NENHUM ERRO. -->
  <p>
    <!-- SERA CRAIDO CAMPOS PARA AS MENSAGENS. -->
    <div class="field">
      <%= f.label :Titulo %><br>
      <%= f.text_field :title %>
    </div>
  </p>
  <p>
    <!-- SERA CRAIDO CAMPOS PARA AS MENSAGENS. -->
    <div class="field">
      <%= f.label :Genero %><br>
      <%= f.text_field :genre %>
    </div>
  </p>
  <p>
    <!-- SER´A CRIADO UM BOTAO DE SUBMISSAO DE DADOS. -->
    <div class="actions">
      <%= f.submit %>
    </div>
  </p>
<% end %>