<!-- TITULO INICIAL. -->
<h1>List of the movies</h1>

<table>
	<thead>
    	<tr>
      		<th>TITLE</th>
          <th><dd>GENRE</dd></th>
    	</tr>
  	</thead

	<tbody>
    	<% @movies.each do |movie| %>
    		<tr>
        		<td><%= movie.title %></td>
            <td><dd><%= movie.genre %></dd></td>
        		<td><dd><%= link_to 'Show', movie %></dd></td>
        		<td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        		<td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      		</tr>
    	<% end %>
  	</tbody>
</table>

<!-- ADICIONA ADD NEW MIOVIE QUE ´E UM LINK PARA NEW.HTML.EBR. -->
<p>
	<tr><%= link_to 'Add new movie', new_movie_path %></tr>
</p>
