%h1 Edit Customer
%ul
  - @customer.errors.full_messages.each do |msg|
    %li
      = msg
= form_for @customer do |f|
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :last_name
    %br/
    = f.text_field :last_name
  %p
    = f.label :phone
    %br/
    = f.text_field :phone
  %p
    = f.label :address
    %br/
    = f.text_field :address
  %p
    =f.label :MOVIES
    %br/
    = f.collection_check_boxes :movie_ids , Movie.all, :id, :title
  %p
  = f.submit
= link_to 'Back', action: 'index'
