%h1 Show Customer
%p
  %b ID:
  = @customer.id
%p
  %b Name:
  = @customer.name
%p
  %b Last Name:
  = @customer.last_name
%p
  %b Phone:
  = @customer.phone
%p
  %b Address:
  = @customer.address
%p
  %b MOVIE(S)
  = @customer.movies.map {|x| x.to_label}.join ', '
= link_to 'Edit', action: 'edit', id: @customer
= link_to 'Back', action: 'index'
= link_to 'Destroy', @customer, method: :delete, data: { confirm: 'Are you sure?' }