<h1>Show Customer</h1>
<p>
<b>Name: </b>
<%= @customer.name %>
</p>
<p>
<b>Last Name: </b>
<%= @customer.last_name %>
<p>
<b>Phone: </b>
<%= @customer.phone %>
</p>
<p>
<b>Address: </b>
<%= @customer.address %>
</p>
<%= link_to 'Edit', action: 'edit', id: @customer %>
<%= link_to 'Back', action: 'index' %>
